@using System.Linq.Expressions
@using System.ComponentModel.DataAnnotations
@using Microsoft.Extensions.Localization
@typeparam TEntity

@inject IStringLocalizer<TEntity> Localizer

<style>
	.multi-adorn {
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.multi-adorn .right-icon {
		position: absolute;
		top: 54%;
		transform: translateY(-50%);
		z-index: 10;
	}
</style>
<MudGrid>
	<MudItem xs="12">
		<div class="multi-adorn">
			<MudAutocomplete @ref="Autocomplete" T="TEntity" Label="@(!string.IsNullOrWhiteSpace(Label) ? Label : Localizer[typeof(TEntity).Name])" Value="Value" ValueChanged="ValueChanged" SearchFunc="@Search" ToStringFunc="Display" Variant="Variant.Outlined" Strict="false" ShowProgressIndicator="true" >
			<NoItemsTemplate>
				<MudText Align="Align.Center" Class="px-4 py-1">
					@if (hasAdd)
					{
							<MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" onclick="OnAdd">@(string.Format(Localizer["Add {0}"], Localizer[(typeof(TEntity).Name)].Value.ToLower()))</MudButton>
					}
					else
					{
						<text>@Localizer["No items found"]</text>
					}
				</MudText>
			</NoItemsTemplate>
			</MudAutocomplete>

			@if (hasAdd)
			{
				<MudIconButton Icon="@Icons.Material.Filled.Add" class="right-icon" Style="@(hasAdd && hasEdit ? "right: 80px;" : "right: 40px;")" title="@(string.Format(Localizer["Add {0}"], Localizer[(typeof(TEntity).Name)].Value.ToLower()))" OnClick="OnAdd" />
			}
			@if (hasEdit)
			{
				<MudIconButton Icon="@Icons.Material.Filled.Edit" class="right-icon" Style="right: 40px;" title="@(string.Format(Localizer["Edit {0}"], Localizer[(typeof(TEntity).Name)].Value.ToLower()))" OnClick="OnEdit" />
			}
		</div>
	</MudItem>
</MudGrid>

@code {
		[Parameter] public string? Label { get; set; }
		[Parameter] public TEntity? Value { get; set; }
		[Parameter] public EventCallback<TEntity?> ValueChanged { get; set; }
		[Parameter] public Expression<Func<TEntity?>>? ValueExpression { get; set; }
		[Parameter] public Func<string, CancellationToken, Task<IEnumerable<TEntity>>> Search { get; set; }
		[Parameter] public Func<TEntity, string> SetDisplay { get; set; }
		[Parameter] public bool? AllowAdd { get; set; }
		[Parameter] public EventCallback<MouseEventArgs> OnAdd { get; set; }
		[Parameter] public bool? AllowEdit { get; set; }
		[Parameter] public EventCallback<MouseEventArgs> OnEdit { get; set; }
	private MudAutocomplete<TEntity> Autocomplete { get; set; }
	private async Task OnValueChanged(TEntity? value) => await this.ValueChanged.InvokeAsync(value);

	public async Task SelectValue(TEntity value)
	{
		Value = value;
		await Autocomplete.SelectOptionAsync(Value);
		await Autocomplete.CloseMenuAsync();
	}

	private string Display(TEntity entity)
	{
		if (entity == null)
		{
			return Localizer["-- Loading... --"];
	}

		return SetDisplay(entity);
	}

	private bool hasAdd => AllowAdd.HasValue && AllowAdd.Value && OnAdd.HasDelegate;
	private bool hasEdit => AllowEdit.HasValue && AllowEdit.Value && OnEdit.HasDelegate;
	private bool firstColumnIsExpanded => !hasAdd && !hasEdit;
}
